# Data Mining 12 Maret 2019
## Data Sydney
### Pre-processing Data
### Missing Value

In [1]:
import pandas as pd
import numpy as np

In [2]:
datasydney = pd.read_csv("E:\Kuliah\Semester 6\DATMIN\Minggu ke-6\weatherAUS.csv")
np.sum(datasydney.isnull())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RISK_MM           3267
RainTomorrow      3267
dtype: int64

In [3]:
datasydneydes=datasydney.drop(['Date','Location'],1)
datasydneydes.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000,142193.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339,2.360682
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000,0.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000,371.000000

In [4]:
datasydney['MinTemp']=datasydney['MinTemp'].fillna(datasydney['MinTemp'].mean())
datasydney['MaxTemp']=datasydney['MaxTemp'].fillna(datasydney['MaxTemp'].mean())
datasydney['Rainfall']=datasydney['Rainfall'].fillna(datasydney['Rainfall'].median())
datasydney['Evaporation']=datasydney['Evaporation'].fillna(datasydney['Evaporation'].mean())
datasydney['Sunshine']=datasydney['Sunshine'].fillna(datasydney['Sunshine'].mean())
datasydney['WindSpeed9am']=datasydney['WindSpeed9am'].fillna(datasydney['WindSpeed9am'].mean())
datasydney['WindSpeed3pm']=datasydney['WindSpeed3pm'].fillna(datasydney['WindSpeed3pm'].mean())
datasydney['Humidity9am']=datasydney['Humidity9am'].fillna(datasydney['Humidity9am'].mean())
datasydney['Humidity3pm']=datasydney['Humidity3pm'].fillna(datasydney['Humidity3pm'].mean())
datasydney['Pressure9am']=datasydney['Pressure9am'].fillna(datasydney['Pressure9am'].mean())
datasydney['Pressure3pm']=datasydney['Pressure3pm'].fillna(datasydney['Pressure3pm'].mean())
datasydney['Cloud9am']=datasydney['Cloud9am'].fillna(datasydney['Cloud9am'].mean())
datasydney['Cloud3pm']=datasydney['Cloud3pm'].fillna(datasydney['Cloud3pm'].mean())
datasydney['Temp9am']=datasydney['Temp9am'].fillna(datasydney['Temp9am'].mean())
datasydney['Temp3pm']=datasydney['Temp3pm'].fillna(datasydney['Temp3pm'].mean())
datasydney['RISK_MM']=datasydney['RISK_MM'].fillna(datasydney['RISK_MM'].median())
datasydney['WindGustSpeed']=datasydney['WindGustSpeed'].fillna(datasydney['WindGustSpeed'].mean())
np.sum(datasydney.isnull())

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir      10326
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday         3261
RISK_MM              0
RainTomorrow      3267
dtype: int64

In [5]:
from scipy.stats import mode
datasydney['WindGustDir']=datasydney['WindGustDir'].fillna(datasydney['WindGustDir']).dropna().mode()[0]
datasydney['WindDir9am']=datasydney['WindDir9am'].fillna(datasydney['WindDir9am']).dropna().mode()[0]
datasydney['WindDir3pm']=datasydney['WindDir3pm'].fillna(datasydney['WindDir3pm']).dropna().mode()[0]
datasydney['RainToday']=datasydney['RainToday'].fillna(datasydney['RainToday']).dropna().mode()[0]
datasydney['RainTomorrow']=datasydney['RainTomorrow'].fillna(datasydney['RainTomorrow']).dropna().mode()[0]
np.sum(datasydney.isnull())

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

### Outlier

In [6]:
from scipy import stats
data1=datasydney.drop(['Sunshine','Evaporation'],1)
data2=data1.drop(['Date','Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'],1)
z = np.abs(stats.zscore(data2._get_numeric_data()))
print(z)
datasydneynomissout=datasydney[(z<3).all(axis=1)]
print(datasydneynomissout.shape)

[[1.89446615e-01 4.53363105e-02 2.03580730e-01 ... 1.40531282e-02
  1.70232282e-02 2.75065815e-01]
 [7.53100728e-01 2.65043084e-01 2.75096635e-01 ... 3.24642790e-02
  3.81984952e-01 2.75065815e-01]
 [1.10901003e-01 3.49692009e-01 2.75096635e-01 ... 6.21684769e-01
  2.21401794e-01 2.75065815e-01]
 ...
 [1.06728318e+00 5.18989861e-01 2.75096635e-01 ... 6.96308433e-01
  6.44757393e-01 2.75065815e-01]
 [6.90264238e-01 5.33098015e-01 2.75096635e-01 ... 2.93157571e-01
  6.30158924e-01 2.75065815e-01]
 [4.25083451e-01 2.10513377e-14 2.75096635e-01 ... 3.08663373e-01
  1.14362992e-01 2.75065815e-01]]
(136342, 24)

In [7]:
datasydneynomissout.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,12/1/2008,Albury,13.4,22.9,0.6,5.468232,7.611178,W,44.0,N,...,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,0.0,No
1,12/2/2008,Albury,7.4,25.1,0.0,5.468232,7.611178,W,44.0,N,...,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,0.0,No
2,12/3/2008,Albury,12.9,25.7,0.0,5.468232,7.611178,W,46.0,N,...,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,0.0,No
3,12/4/2008,Albury,9.2,28.0,0.0,5.468232,7.611178,W,24.0,N,...,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,1.0,No
4,12/5/2008,Albury,17.5,32.3,1.0,5.468232,7.611178,W,41.0,N,...,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,0.2,No
5,12/6/2008,Albury,14.6,29.7,0.2,5.468232,7.611178,W,56.0,N,...,23.0,1009.2,1005.4,4.447461,4.50993,20.6,28.9,No,0.0,No
6,12/7/2008,Albury,14.3,25.0,0.0,5.468232,7.611178,W,50.0,N,...,19.0,1009.6,1008.2,1.000000,4.50993,18.1,24.6,No,0.0,No
7,12/8/2008,Albury,7.7,26.7,0.0,5.468232,7.611178,W,35.0,N,...,19.0,1013.4,1010.1,4.447461,4.50993,16.3,25.5,No,0.0,No
9,12/10/2008,Albury,13.1,30.1,1.4,5.468232,7.611178,W,28.0,N,...,27.0,1007.0,1005.7,4.447461,4.50993,20.1,28.2,No,0.0,No
10,12/11/2008,Albury,13.4,30.4,0.0,5.468232,7.611178,W,30.0,N,...,22.0,1011.8,1008.7,4.447461,4.50993,20.4,28.8,No,2.2,No

In [8]:
data3=datasydneynomissout.drop(['Date','Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'],1)
data3.head(10)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
0,13.4,22.9,0.6,5.468232,7.611178,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,0.0
1,7.4,25.1,0.0,5.468232,7.611178,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,0.0
2,12.9,25.7,0.0,5.468232,7.611178,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,0.0
3,9.2,28.0,0.0,5.468232,7.611178,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,1.0
4,17.5,32.3,1.0,5.468232,7.611178,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,0.2
5,14.6,29.7,0.2,5.468232,7.611178,56.0,19.0,24.0,55.0,23.0,1009.2,1005.4,4.447461,4.50993,20.6,28.9,0.0
6,14.3,25.0,0.0,5.468232,7.611178,50.0,20.0,24.0,49.0,19.0,1009.6,1008.2,1.000000,4.50993,18.1,24.6,0.0
7,7.7,26.7,0.0,5.468232,7.611178,35.0,6.0,17.0,48.0,19.0,1013.4,1010.1,4.447461,4.50993,16.3,25.5,0.0
9,13.1,30.1,1.4,5.468232,7.611178,28.0,15.0,11.0,58.0,27.0,1007.0,1005.7,4.447461,4.50993,20.1,28.2,0.0
10,13.4,30.4,0.0,5.468232,7.611178,30.0,17.0,6.0,48.0,22.0,1011.8,1008.7,4.447461,4.50993,20.4,28.8,2.2

### Transformasi

In [9]:
# Transformasi Variabel Kategorik
datasydney['RainToday'].replace({'No':0, 'Yes':1}, inplace = True)
datasydney['RainTomorrow'].replace({'No':0, 'Yes':1}, inplace = True)

from sklearn import preprocessing
le=preprocessing.LabelEncoder()
aa=le.fit(datasydney.iloc[0:,3])
a=le.transform(datasydney.iloc[0:,3])
bb=le.fit(datasydney.iloc[0:,5])
b=le.transform(datasydney.iloc[0:,5])
cc=le.fit(datasydney.iloc[0:,6])
c=le.transform(datasydney.iloc[0:,6])

datasydney['WindGusDir']=a
datasydney['WindDir9am']=b
datasydney['WindDir3pm']=c
datasydney.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,WindGusDir
0,12/1/2008,Albury,13.4,22.9,0.6,5.468232,7.611178,W,44.0,55,...,1007.7,1007.1,8.000000,4.50993,16.9,21.8,0,0.0,0,262
1,12/2/2008,Albury,7.4,25.1,0.0,5.468232,7.611178,W,44.0,55,...,1010.6,1007.8,4.447461,4.50993,17.2,24.3,0,0.0,0,285
2,12/3/2008,Albury,12.9,25.7,0.0,5.468232,7.611178,W,46.0,55,...,1007.6,1008.7,4.447461,2.00000,21.0,23.2,0,0.0,0,291
3,12/4/2008,Albury,9.2,28.0,0.0,5.468232,7.611178,W,24.0,55,...,1017.6,1012.8,4.447461,4.50993,18.1,26.5,0,1.0,0,314
4,12/5/2008,Albury,17.5,32.3,1.0,5.468232,7.611178,W,41.0,55,...,1010.8,1006.0,7.000000,8.00000,17.8,29.7,0,0.2,0,357

In [10]:
xx = data3.iloc[0:134753,0:17]
xx.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
0,13.4,22.9,0.6,5.468232,7.611178,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,0.0
1,7.4,25.1,0.0,5.468232,7.611178,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,0.0
2,12.9,25.7,0.0,5.468232,7.611178,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,0.0
3,9.2,28.0,0.0,5.468232,7.611178,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,1.0
4,17.5,32.3,1.0,5.468232,7.611178,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,0.2

In [11]:
from sklearn.preprocessing import normalize
xxnorm = normalize(xx,norm='l2') #default norm L2 and max
xxnorm = pd.DataFrame(xxnorm)
xxnorm.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.009382,0.016034,0.000420,0.003829,0.005329,0.030808,0.014004,0.016804,0.049713,0.015404,0.705568,0.705148,0.005601,0.003158,0.011833,0.015264,0.000000
1,0.005176,0.017558,0.000000,0.003825,0.005324,0.030778,0.002798,0.015389,0.030778,0.017488,0.706926,0.704967,0.003111,0.003155,0.012032,0.016998,0.000000
2,0.009031,0.017993,0.000000,0.003828,0.005329,0.032205,0.013302,0.018203,0.026604,0.021003,0.705435,0.706206,0.003114,0.001400,0.014702,0.016243,0.000000
3,0.006400,0.019478,0.000000,0.003804,0.005295,0.016696,0.007652,0.006261,0.031305,0.011131,0.707904,0.704564,0.003094,0.003137,0.012591,0.018435,0.000696
4,0.012233,0.022579,0.000699,0.003822,0.005320,0.028660,0.004893,0.013981,0.057321,0.023068,0.706586,0.703231,0.004893,0.005592,0.012443,0.020761,0.000140

In [12]:
# Softmax
def softmax(xx):
    return np.exp(xx)/np.sum(np.exp(xx), axis = 0)
xxsoft = softmax(xxnorm)
xxsoft = pd.DataFrame(xxsoft)
print(xxsoft)

              0         1         2         3         4         5         6   \
0       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
1       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
2       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
3       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
4       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
5       0.000007  0.000007  0.000007  0.000007  0.000007  0.000008  0.000007
6       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
7       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
8       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
9       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
10      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
11      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
12      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
13      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
14      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
15      0.000007  0.000007  0.000008  0.000007  0.000007  0.000008  0.000007
16      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
17      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
18      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
19      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
20      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
21      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
22      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
23      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
24      0.000007  0.000007  0.000007  0.000007  0.000007  0.000008  0.000007
25      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
26      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
27      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
28      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
29      0.000007  0.000007  0.000007  0.000007  0.000007  0.000008  0.000007
...          ...       ...       ...       ...       ...       ...       ...
134723  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134724  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134725  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134726  0.000007  0.000007  0.000008  0.000007  0.000007  0.000007  0.000007
134727  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134728  0.000007  0.000007  0.000007  0.000007  0.000007  0.000008  0.000007
134729  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134730  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134731  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134732  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134733  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134734  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134735  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134736  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134737  0.000007  0.000007  0.000008  0.000007  0.000007  0.000007  0.000007
134738  0.000007  0.000007  0.000007  0.000007  0.000007  0.000008  0.000007
134739  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134740  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134741  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134742  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134743  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134744  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134745  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134746  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134747  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134748  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134749  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134750  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134751  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134752  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007

              7         8         9         10        11        12        13  \
0       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
1       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
2       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
3       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
4       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
5       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
6       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
7       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
8       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
9       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
10      0.000007  0.000008  0.000008  0.000007  0.000007  0.000007  0.000007
11      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
12      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
13      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
14      0.000007  0.000007  0.000008  0.000007  0.000007  0.000007  0.000007
15      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
16      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
17      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
18      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
19      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
20      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
21      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
22      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
23      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
24      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
25      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
26      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
27      0.000007  0.000007  0.000008  0.000007  0.000007  0.000007  0.000007
28      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
29      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
...          ...       ...       ...       ...       ...       ...       ...
134723  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134724  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134725  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134726  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134727  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134728  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134729  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134730  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134731  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134732  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134733  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134734  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134735  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134736  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134737  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134738  0.000007  0.000008  0.000007  0.000007  0.000007  0.000007  0.000007
134739  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134740  0.000007  0.000008  0.000007  0.000007  0.000007  0.000007  0.000007
134741  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134742  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134743  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134744  0.000007  0.000008  0.000007  0.000007  0.000007  0.000007  0.000007
134745  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134746  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134747  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134748  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134749  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134750  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134751  0.000007  0.000008  0.000007  0.000007  0.000007  0.000007  0.000007
134752  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007

              14        15        16
0       0.000007  0.000007  0.000007
1       0.000007  0.000007  0.000007
2       0.000007  0.000007  0.000007
3       0.000007  0.000007  0.000007
4       0.000007  0.000007  0.000007
5       0.000007  0.000007  0.000007
6       0.000007  0.000007  0.000007
7       0.000007  0.000007  0.000007
8       0.000007  0.000007  0.000007
9       0.000007  0.000007  0.000007
10      0.000007  0.000007  0.000007
11      0.000007  0.000007  0.000007
12      0.000007  0.000007  0.000007
13      0.000007  0.000007  0.000007
14      0.000007  0.000007  0.000008
15      0.000007  0.000007  0.000007
16      0.000007  0.000007  0.000007
17      0.000007  0.000007  0.000007
18      0.000007  0.000007  0.000007
19      0.000007  0.000007  0.000007
20      0.000007  0.000007  0.000007
21      0.000007  0.000007  0.000007
22      0.000007  0.000007  0.000007
23      0.000007  0.000007  0.000007
24      0.000007  0.000007  0.000007
25      0.000007  0.000007  0.000007
26      0.000007  0.000007  0.000007
27      0.000007  0.000007  0.000007
28      0.000007  0.000007  0.000007
29      0.000007  0.000007  0.000007
...          ...       ...       ...
134723  0.000007  0.000007  0.000007
134724  0.000007  0.000007  0.000007
134725  0.000007  0.000007  0.000008
134726  0.000007  0.000007  0.000007
134727  0.000007  0.000007  0.000007
134728  0.000007  0.000007  0.000008
134729  0.000007  0.000007  0.000007
134730  0.000007  0.000007  0.000007
134731  0.000007  0.000007  0.000007
134732  0.000007  0.000007  0.000007
134733  0.000007  0.000007  0.000007
134734  0.000007  0.000007  0.000007
134735  0.000007  0.000007  0.000007
134736  0.000007  0.000007  0.000007
134737  0.000007  0.000007  0.000007
134738  0.000007  0.000007  0.000007
134739  0.000007  0.000007  0.000007
134740  0.000007  0.000007  0.000007
134741  0.000007  0.000007  0.000007
134742  0.000007  0.000007  0.000007
134743  0.000007  0.000007  0.000007
134744  0.000007  0.000007  0.000007
134745  0.000007  0.000007  0.000007
134746  0.000007  0.000007  0.000007
134747  0.000007  0.000007  0.000007
134748  0.000007  0.000007  0.000007
134749  0.000007  0.000007  0.000007
134750  0.000007  0.000007  0.000007
134751  0.000007  0.000007  0.000007
134752  0.000007  0.000007  0.000007

[134753 rows x 17 columns]

### Feature Selection

In [16]:
# feature selection (mencari skor)
from sklearn.feature_selection import SelectKBest, chi2, f_regression
Xx = xx.iloc[0:134753, 2:17]
y = xx.iloc[0:134753,0:1]
selector = SelectKBest(chi2, k="all").fit(Xx,y)
X_new = selector.transform(Xx)
scores = selector.scores_
scores

ValueError: Input X must be non-negative.